{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>P4 Drawing</title>

    <link rel="stylesheet" type="text/css" href="{% static 'draw/vendor/bootstrap/css/bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static 'draw/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'draw/vendor/paper/paper-full.min.js' %}"></script>

    <style type="text/css">
    </style>

</head>
<body>
    <!-- You may change the dimensions of this canvas -->
    <canvas id="myCanvas" width="1500px" height="1500px"></canvas>
</body>
<script>

  // setting up the canvas and one paper tool
  var canvas = document.getElementById('myCanvas');
  paper.setup(canvas);
  var tool = new paper.Tool();
  //var path = new paper.Path();
  var paths = {};
  //path.strokeColor = 'black';
  var message = {};
  
  // getting the URL (you may want to use for Exercise 3)
  var url = window.location.href;
  var socket = new WebSocket(
   'ws://p4-seanton213-seanton213692610.codeanyapp.com:8765/');
  
  //Inspiration for random IDs here: https://stackoverflow.com/questions/1349404/generate-random-string-characters-in-javascript
  socket.id = Math.floor(Math.random() * 62);
  
  //https://stackoverflow.com/questions/1484506/random-color-generator
  function getRandomColor() {
    var letters = '0123456789ABCDEF';
    var color = '#';
    for (var i = 0; i < 6; i++) {
      color += letters[Math.floor(Math.random() * 16)];
    }
      return color;
    }
  var currentColor = getRandomColor();
  
  function getParameterByName(name, url) {
    if (!url) url = window.location.href;
    name = name.replace(/[\[\]]/g, '\\$&');
    var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
        results = regex.exec(url);
    if (!results) return null;
    if (!results[2]) return '';
    return decodeURIComponent(results[2].replace(/\+/g, ' '));
  }
  
  socket.onopen = function(event) {
    socket.send(JSON.stringify({id: socket.id, "open": true}));
  }
  
  socket.onmessage = function(event) {
    var newMessage = JSON.parse(event.data);
    var newColor = newMessage["color"];
    var newPoint = new paper.Point(newMessage["x"], newMessage["y"]);
    var newUrl = newMessage["url"];
    
    if (!(newMessage.id in paths) && url == "http://p4-seanton213-seanton213692610.codeanyapp.com:8000/draw/?size=large") {
      paths[newMessage.id] = new paper.Path();
    }

      
//     if (socket.id !== newMessage.id && newUrl !== "http://p4-seanton213-seanton213692610.codeanyapp.com:8000/draw/?size=large") {
//       //paths[newMessage.id].strokeColor = newColor;
//       //paths[newMessage.id].add(newPoint);
//         path.strokeColor = newColor;
//         path.add(newPoint);
//     }
  
    if (newUrl == "http://p4-seanton213-seanton213692610.codeanyapp.com:8000/draw/?size=small") {
      paths[newMessage.id].strokeColor = newColor;
      paths[newMessage.id].add(newPoint);
    }
    
    
    
  }  

  tool.onMouseMove = function(event) {
    message = {"url": url, "id": socket.id, "color": currentColor, "x":event.point.x, "y":event.point.y};
    socket.send(JSON.stringify(message));
  }
 
  socket.onclose = function(event) {
    console.error('Chat socket closed unexpectedly');
  }
  
  //shake detector  
  var sensitivity = 20; //threshold. Adjust as needed
  window.addEventListener('devicemotion', function(event) {
    var x = event.accelerationIncludingGravity.x;
    var y = event.accelerationIncludingGravity.y;
    var z = event.accelerationIncludingGravity.z;    

    if (x + y + z > sensitivity) {
      // Shake detected, clear
      // https://stackoverflow.com/questions/19054798/canvas-clear-in-paper-js
      project.clear();
    }
  });
  
  //tilt detector. Not salt detector.
  window.ondeviceorientation = function(event) {
    if (event.gamma >= 60) {      
      var newMessage = JSON.parse(event.data);
//       var newColor = newMessage["color"];
//       paths[newMessage.id].strokeColor = newColor; 
      paths[newMessage.id].strokeColor = getRandomColor(); 
    }
  }
  
  
//   window.addEventListener('deviceorientation', function(event) {
//     var a = event.alpha;
//     var b = event.beta;
//     var g = event.gamma;
    
//     handleOrientation(a, b, g);
//   });
//   var handleOrientation = function(a, b, g) {
//     if (g >= 60) {
      
//     }
//   };
  
</script>
</html>




















